.global-error {
    font-size: 20px;
    color: rgb(172,7,7);
    font-weight: bold;
}

/* Info Messages from flash messages!!! */
.info-msg {
    background: linear-gradient(90deg, rgba(47, 164, 231, 0.8) 0%, rgba(47, 164, 231, 0.8) 100%);
    animation: fadeOut 5s forwards;
    animation-delay: 1s;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: normal;
    position: fixed;
    float: right;
    margin: 0.5% 0;
    overflow: hidden;
    display: block;
    top: 5rem;
    right: 1rem;
    font-size: 18px;
    text-shadow: 2px 2px #000;
    z-index: 1;
}

.success-msg {
    background: linear-gradient(90deg, rgba(115, 168, 57, 0.8) 0%, rgba(115, 168, 57, 0.8) 100%);
    animation: fadeOut 5s forwards;
    animation-delay: 1s;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: normal;
    position: fixed;
    float: right;
    margin: 0.5% 0;
    overflow: hidden;
    display: block;
    top: 5rem;
    right: 1rem;
    font-size: 18px;
    text-shadow: 2px 2px #000;
    z-index: 1;
}

.warning-msg {
    background: linear-gradient(90deg, rgba(218, 165, 32, 0.8) 0%, rgba(218, 165, 32, 0.8) 100%);
    animation: fadeOut 5s forwards;
    animation-delay: 1s;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: normal;
    position: fixed;
    float: right;
    margin: 0.5% 0;
    overflow: hidden;
    display: block;
    top: 5rem;
    right: 1rem;
    font-size: 18px;
    text-shadow: 2px 2px #000;
    z-index: 1;
}

.danger-msg {
    background: linear-gradient(90deg, rgba(199, 28, 34, 0.8) 0%, rgba(199, 28, 34, 0.8) 100%);
    animation: fadeOut 5s forwards;
    animation-delay: 1s;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: normal;
    position: fixed;
    float: right;
    margin: 0.5% 0;
    overflow: hidden;
    display: block;
    top: 5rem;
    right: 1rem;
    font-size: 18px;
    text-shadow: 2px 2px #000;
    z-index: 1;
}



@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}